{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
{% endblock %}


{% block body %}

<select id="myselect" class="selectpicker" data-live-search="true" data-style="btn-primary">
  <option value="0">Seleccione un Screenly:</option>
  {% for device in devices %}
    <option value="{{ device.id }}">{{ device.name }}</option>
  {% endfor %}

</select>

<table class="table" id="screen-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Asset ID</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody class="dynamic">


  </tbody>
</table>

{% endblock %}

{% block tail_js %}
{{ super() }}
 <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


 <script>

      // Cuando cambiamos el select seleccionado un screenly
     $('#myselect').on('change', function() {

        const screenBody = document.querySelector("#screen-table > tbody");

        function loadAssets (id) {

          const request = new XMLHttpRequest();
          request.open("get", "https://" + document.domain + "/api/v1/asset/" + id);

          request.onload = () => {
              try {

                const json = JSON.parse(request.responseText);
                populateAssets(json, id);

              } catch (e) {
                console.warn("no pude" + e);

              }


          };

          request.send();

      }

      function populateAssets (json, device_id) {
          console.log(screenBody);

          $("#screen-table td").remove();

          json.assets.forEach((row) => {
            console.log(row.asset_id);

            const tr = document.createElement("tr");

            const td = document.createElement("td");
            td.textContent = row.id;
            tr.appendChild(td);

            const td2 = document.createElement("td");
            td2.textContent = row.asset_name;
            tr.appendChild(td2);

            const td3 = document.createElement("td");
            td3.textContent = row.asset_id;
            tr.appendChild(td3);

            const td4 = document.createElement("td");
            //td4.textContent = row.status;
            const input = document.createElement("input");
            input.setAttribute("data-toggle", "toggle");
            input.setAttribute("type", "checkbox");
            input.setAttribute("id", row.id);
            input.setAttribute("onchange", "change_state(" + row.id + ", " + device_id + ")");
            if (row.status) {
               input.setAttribute("checked", "true");
            }
            td4.appendChild(input);
            tr.appendChild(td4);

            screenBody.appendChild(tr);

            $('#'+row.id).bootstrapToggle();

            console.log($('.active-buton'));

            //var list = document.getElementsByClassName('data-toggle');

            //list.bootstrapToggle();

          });


      }

      loadAssets(this.value);

    });

    // Funcion que realiza el post cuando cambiamos el estado del switch
    function change_state (id_asset, id_device) {
      //alert(id_asset + "---" + id_device);
      console.log($("#" + id_asset).prop('checked'));

      $.ajax({
        //url: 'https://admin.local/asset',
        url: 'https://' + document.domain + '/api/v1/asset',
        type: 'PUT',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify({ "device_id": id_device, "asset_id": id_asset, "state": $("#" + id_asset).prop('checked') }),
        success: function(data, status, jqXHR){
      },
      error: function(jqXHR, status, errorThrown){
      }
})

    }


 </script>
{% endblock %}